{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block header %}{{ group.title }}{% endblock %}
{% block content %}
    {% for post_data in page %}
        <p>{{ post_data.group.description }}</p>
        <h3><a href="{%  url 'post' post_data.author.username post_data.id %}">Автор: {{ post_data.author.get_full_name }}, дата публикации: {{ post_data.pub_date|date:"d M Y" }}</a></h3>
        <p>{{ post_data.text }}</p>
        <hr>
    {% endfor %}
{% include "paginator.html" %}
{% endblock %}
