{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Пост #{{ full_post.id }} пользователя {{ full_post.author.first_name }} {{ full_post.author.last_name }}{% endblock %}
{% block header %}Пост #{{ full_post.id }} пользователя {{ full_post.author.first_name }} {{ full_post.author.last_name }}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">

        {% include 'include/profile_follower_counter.html' %}

        <div class="col-md-9">

            {% include 'include/post_item.html' %}
            {% include 'include/comments.html' %}

        </div>
    </div>
</main>
{% endblock content %}