{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Профиль пользователя {{ author.first_name }}
    {{ author.last_name }}{% endblock %}
{% block header %}Профиль пользователя {{ author.first_name }}
    {{ author.last_name }}{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            {% include 'include/profile_follower_counter.html' %}
            <div class="col-md-9">
                {% for post in page %}

                    {% include 'include/post_item.html' %}

                {% endfor %}

                {% include "include/paginator.html" %}
            </div>
        </div>
    </main>
{% endblock content %}